html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #9a8c98;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

canvas {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
